        <!-- Navbar START -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a class="navbar-brand" href="/index"><img class="brand-img" alt="Brand" src="/assets/img/scraper-green.png"></a></li>
                        <li>
                            <div class="xtooltip">
                                <a class="navbar-brand" href="/index"><h4>{{heading}}</h4></a>
                                <span class="xtooltiptext" style="bottom: -85%;">Return to the main page.</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="navbar-header">
                    <ul class="nav navbar-nav">
                        <li><a class="active navbar-brand" href="{{origin}}" target="_blank"><h4>Scraping from : {{origin}}</h4></a></li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><form class="navbar-form navbar-right" method="post" target="_self" action="/api/scrape">
                            <div class="xtooltip">
                                <button type="submit" class="btn btn-link navbar-brand">New Scrape</button>
                                <span class="xtooltiptext" style="bottom: -75%;">Initiate a scrape to look for new items.</span>
                            </div>
                            <div class="form-group hidden-input">
                            {{#each issues}}
                                <input id="issueID{{@index}}" name="issueID{{@index}}" type="hidden" value="{{this._id}}">
                                <input id="issueNAME{{@index}}" name="issueNAME{{@index}}" type="hidden" value="{{this.issue}}">
                            {{/each}}
                            </div>
                        </form></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar END -->
        <!-- Issue Title START -->
        <div class="row center">
            <div class="col-md-3 col-sm-3"></div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form method="post" target="_self" action="/api/list">
                    <input id="issueselect" name="issueselect" type="hidden" value="{{@root.issueselect}}">
                    <div class="xtooltip">
                        <button type="submit" class="btn btn-link" style="padding:0px 0px"><h3>{{issue}}</h3></button>
                        <span class="xtooltiptext">Return to this issue's item list.</span>
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-sm-3"></div>
        </div>
        <!-- Issue Title END -->
        <!-- Category START -->
        <div class="row center">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h2>Category : {{item.category}}</h2>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>
        <!-- Category END -->
        <!-- Item Title START -->
        <div class="row center">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <h2>{{{item.link}}}</h2>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>
        <!-- Item Title END -->
        <!-- Item Image START -->
        <div class="row center">
            <div class="col-md-12 col-sm-12 col-xs-12 block-centered">
                {{{item.image}}}
            </div>
        </div>
        <!-- Item Image END -->
        <br><br>
        <!-- Item Body START -->
        <div class="row center">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <p>{{item.body}}</p>
            </div>
            <div class="col-md-2 col-sm-2"></div>
        </div>
        <!-- Item Body END -->
        <br><br>
        <br><br>
        <!-- Leave Comment START -->
        <div class="row center">
            <div class="col-md-1 col-sm-1"></div>
            <form method="post" target="_self" action="/api/comment">
                <div class="col-md-8 col-sm-8 col-xs-10">
                    <input maxlength="64" id="comment" name="comment" type="text" placeholder="Enter a comment" class="form-control form-field block-centered" required></input>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-2">
                    <input id="itemID" name="itemID" type="hidden" value="{{item._id}}">
                    <input id="issue" name="issue" type="hidden" value="{{@root.issue}}">
                    <button type="submit" class="btn btn-primary">Leave a Comment</button>
                </div>
            </form>
            <div class="col-md-2 col-sm-2"></div>
        </div>
        <!-- Leave Comment END -->
        <br><br>
        <!-- List all Comments START -->
        <div class="row center">
            <div class="col-md-1 col-sm-1"></div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="center">Date</th>
                            <th class="center">Comment</th>
                            <th class="center">DELETE?</th>
                        </tr>
                    </thead>
                    <tbody id="comments">
                    {{#each comments}}
                        {{#if this.deleted}}
                        {{else}}
                        <tr>
                            <td>{{this.date}}</td>
                            <td>{{this.body}}</td>
                            <form method="post" target="_self" action="/api/delete">
                                <input id="commentID" name="commentID" type="hidden" value="{{this._id}}">
                                <input id="itemID" name="itemID" type="hidden" value="{{@root.item._id}}">
                                <input id="issue" name="issue" type="hidden" value="{{@root.issue}}">
                                <td><button type="submit" class="btn btn-link" style="padding:0px 0px">Delete</button></td>
                            </form>
                        </tr>
                        {{/if}}
                    {{else}}
                        <tr>
                            <td>No Comments Found</td>
                            <td></td>
                            <td></td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="col-md-1 col-sm-1"></div>
        </div>
        <!-- List all Comments END -->
        <br><br>



